{% extends 'coreapp/base.html' %}

{% block title%}About{% endblock %}


{% block meta %}
<meta name="description" content="This pages has information about this website and the purpose of it">
<meta name="author" content="Skulliwrld">
<meta property="og:title" content="Skulliwrld | About">
<meta property="og:description" content="This pages has information about this website and the purpose of it">
<meta property="og:type" content="article">
<meta property="og:url" content="http://skulliwrld.com/about/">
{% endblock %}


{% block body %}
<h1 class="max-w-4xl mx-auto">About</h1>
{% endblock %}